<% provide(:title, 'About Project') %>
<h1>About This Project</h1>
<p>
  The Movie-Road website project is a communication platform for movie lovers to comment and rate movies. The website farmwork is provided by using the ruby on rails. 
</p>