<h1>Listing Movies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>Director</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.name %></td>
    <td><%= movie.genre %></td>
    <td><%= movie.director %></td>
 
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>